.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin-top: 100px;
  margin-right: 24px;
  margin-left: 24px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__links-list {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-top: 36px;
  margin-left: 26px;
  font-size: 18px;
  line-height: 120%;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  min-width: 134px;
  margin-left: 5px;
}

.address {
  align-content: center;
  max-width: 52%;
  margin-right: 26px;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address p {
  margin: 0;
  padding: 0;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  margin-bottom: 175px;
  padding: 165px 50px 0;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 123%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
  padding-bottom: 60px;
}

.cover__description-text {
  margin-left: 26px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  margin-left: auto;
  border: 0;
  border-radius: 0;
  padding: 12px 24px;
  outline: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lots__heading {
  margin: 0 0 24px 64px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-right: 24px;
  margin-left: 24px;
  list-style: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 565px;
  list-style: none;
}

.card-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 565px;
  padding: 50.5px 40px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  margin-top: 0;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  margin-top: auto;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  width: fit-content;
  margin: 30px 0 0 63px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 182px;
  margin-right: 28px;
  margin-bottom: 176px;
  margin-left: 24px;
  padding: 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-right: 71px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 62%;
}

.about__title {
  margin: 100px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24.3px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-right: 50px;
  margin-bottom: 86px;
  margin-left: 50px;
  padding: 0;
}

.footer .address {
  max-width: 22%;
  margin-left: 0;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 100%;
}
